<div class="info">
  <h1 class="display-3">Hello, {{user.username}}!</h1>
  <p>
    ID: {{user._id}}<br/>
    Username: {{user.username}}<br/>
    First Name: {{user.firstName }}<br/>
    Last Name: {{user.lastName }}<br/>
    Profession: {{user.profession}}<br/>
    Biography: {{user.bio}}<br/>
  </p>
  <a href="/users/logout">Log out</a>
{{!--   <p class="lead">
    <a class="btn btn-primary btn-lg" href="/logout" role="button">Log Out</a>
  </p> --}}
</div>