<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My Site</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <!-- /container
    <div class="container">
            {{#if user}}
                <p>View your <a href="/users/private">profile</a>.</p>
            {{else}}
                <p>Welcome! Please <a href="/users/login">log in</a>.</p>
            {{/if}}

        <div class="row">
            <div class="col-lg-12">
                {{#if success_msg}}
                    <div class="alert alert-success">{{success_msg}}</div>
                {{/if}} 
                {{#if error_msg}}
                    <div class="alert alert-danger">{{error_msg}}</div>
                {{/if}} 
                {{#if error}}
                    <div class="alert alert-danger">{{error}}</div>
                {{/if}} 
                {{{body}}}
            </div>
        </div>

        <footer>
            <p>Author: Neha Mansinghka <br> Id: 10420458</p>
        </footer>

    </div> -->
    <main class="container">
        <h1>Lab 9</h1>
        <div class="row">
            <div class="col-sm-6">
                {{{body}}}
            </div>
        </div>
        <footer>
            <p>Author: Neha Mansinghka <br> Id: 10420458</p>
        </footer>
    </main>
</body>

</html>